@using LayeredArchitecture.Domain;

@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <a href="/home/create" class="button">Create customer</a>
    </div>
    <div class="col-md-12">
        <h2>Customers</h2>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Last name</td>
                    <td>Details</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var customer in Model)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.Name</td>
                        <td>@customer.Lastname</td>
                        <td><a href="/home/details/@customer.Id">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
