@using Modular.Domain
@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Hello from Customer Module</h2>
    </div>
</div> 

<div class="row">
    <div class="col-md-12">
        <h2>Customers</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Last name</td>
                    <td>Details</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.Name</td>
                        <td>@customer.Lastname</td>
                        <td><a href="/customer/details/@customer.Id">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

